<div class="page-header">
  <h1>
    Items
    <%= link_to new_item_url, :class => "btn btn-lg btn-success" do %>
      <i class="fa fa-plus"></i>
    <% end  %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Items (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @items.each do |item| %>
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 isotope-item">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="item_<%= item.id %>">
          <% upvote = Upvote.where(user_id: current_user.id, item_id: item.id).first %>
          <% if upvote %>
            <!-- create a link to destroy the upvote -->
            <a href="/upvotes/<%= upvote.id %>" class="btn btn-default destroy-upvote" data-method="delete" data-remote="true">
              <i class="fa fa-thumbs-up fa-lg"></i>
            </a>
          <% else %>
            <%= form_for(Upvote.new, remote: true) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :item_id, value: item.id %>
              <button type="submit" class="btn btn-default">
                <i class="fa fa-thumbs-o-up fa-lg"></i>
              </button>
            <% end %>
          <% end %>
          <div class="desc"><%= item.desc %></div>
          <%= link_to item_url(item), :class => "btn btn-primary" do %>
            <i class="fa fa-search-plus"></i>
          <% end %>
          <%= link_to edit_item_url(item), :class => "btn btn-warning" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to item_url(item), :method => "delete", :data => { :confirm => "Do you really want to delete this item?" }, :class => "btn btn-danger" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'vertical',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
