<!-- Validation failure messages -->

<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Item #<%= @item.id %></h3>
      </div>
      <div class="panel-body">
        <%= form_tag item_url(@item.id), :method => "patch", :class => "form-horizontal" do %>
          <!-- Label and input for desc -->
          <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">
              Desc
            </label>
            <div class="col-sm-10">
              <input type="text" id="desc" name="desc" placeholder="Desc" class="form-control" value="<%= @item.desc %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Item" class="btn btn-warning">
              or
              <%= link_to "Cancel", item_url(@item.id) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
